 /* this is just a comment */

* {
  font-size:100%;
  margin: 0;
  line-height: 2;
  box-sizing: border-boz
  /* font-size:100%; */
  /* border: 1px solid blue; */
}
body {
  background-color: aliceblue;
  background-image: url(images/morocco.png);
  background-repeat: repeat;
  color: black;
  font-family: 'ubuntu', serif;
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

header {
  /* border-bottom: 5px solid grey; */
}

section {
  border: 3px solid gainsboro;
  background-color: white;
  margin: 140px;
  padding: 20px;
  width: 80%;
  align: center;
}

h1{
  color: black;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  text-shadow: 2px 2px 2px #888;
}

h2{
  color: black;
  font-style: italic;
  font-weight: 800;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 2px #888;
}

h3{
  font-style: italic;
}
h1, h2, h3{
    /* font-weight: 300; */
    margin-bottom: 20px;
  }

ul{
  text-align: center;
}

footer p {

  font-style: bold;
  font-style: italic;
}

a{
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 .container {
  max-width: 1000px;
  margin: 0 auto;


 .box {
   background-image: url(image/morocco.png);
   background-repeat: no-repeat;
}

p {
  margin: 15px 0;
}

ul,ol {
  margin: 15px 0;
}

header,
section,
footer {
  padding: 30px;
}
